---
export const prerender = true;

import Layout from "../layouts/default.astro";

/**
 * Home Page.
 * @see https://docs.astro.build/en/core-concepts/astro-pages/
 */
---

<Layout>
  <h1 class="my-5 sm:my-10 text-4xl font-semibold">Home</h1>
</Layout>
